{{!-- about me --}}
<section id="about-me">
	<div class="bg-1 container-fluid">
		<div class="text-center">
			<img src="/img/profile-pic-small.jpg" class="img-circle person" alt="">
		{{!-- </div>
		<div> --}}
			<h3>Piotr Sławiński</h3>
			<p><em>Junior developer and master brewer at Developer's Brew</em></p>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit autem recusandae harum accusantium est similique sed tenetur. Nesciunt voluptatibus sunt fugiat hic tenetur, aliquam dicta ad officia enim id asperiores possimus. Obcaecati rerum, dicta quo soluta eveniet perferendis provident amet ullam voluptas quae odit veritatis quas vero alias recusandae dolores adipisci quod numquam minima dolore. Laudantium, et, voluptates! Ab rerum at animi, necessitatibus aspernatur, omnis laborum facilis, tenetur ut pariatur commodi nihil excepturi eos iure officiis. Pariatur nam, aspernatur rem vero, unde quibusdam mollitia est omnis ratione assumenda? Repellat, deleniti odit ab quam, veritatis qui ad mollitia necessitatibus in facilis.
			</p>
		</div>
	</div>
</section>
