{{!-- about me --}}
<section id="about-me">
	<div class="bg-1 container-fluid text-center">
		<div>
			<img src="/img/profile-pic-small.jpg" class="img-circle person" alt="">
		</div>
		<div>
			<h3>Piotr Sławiński</h3>
			<p><em>Junior developer and master brewer at Developer's Brew</em></p>
		</div>
	</div>
</section>
