{{!-- my-projects --}}
<section>
	<div id="my-projects" class="container-fluid bg-1">
		<h3 class="text-center">Our projects</h3>
		<p class="text-center"><em>A couple of projects created by our master brewer.</em></p>
		{{> fetch-api}}
	</div>
</section>
