{{!-- my-skills --}}
<section id="my-skills">
  <div class="container-fluid bg-2">
    <h3 class="text-center">Our beers</h3>
    <p class="text-center"><em>Here are our finest beers</em></p>
    <div class="row text-center">
      {{#each showResults}}
        <div class="col-md-2 col-xs-4">
          <img src="{{img-address}}" alt="{{skill}}">
          <div>
            <p><strong>{{beer-pun}}</strong></p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
