{{!-- my-skills --}}
<section id="my-skills">
	<div class="container-fluid bg-2">
		<h3 class="text-center">Our beers</h3>
		<p class="text-center"><em>Here are our finest beers</em></p>
		<div class="row text-center">
			<div class="col-xs-4">
				<div class="thumbnail">
					<img src="/img/html5-plain.svg" alt="HTML">
					<p><strong>India Pale HTML</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="thumbnail">
					<img src="/img/css3-plain.svg" alt="CSS">
					<p><strong>Cascadian Style Stout</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="thumbnail">
					<img src="/img/javascript-plain.svg" alt="JavaScript">
					<p><strong>Bohemian Javascripter</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class=" col-xs-4">
				<div class="thumbnail">
					<img src="/img/gulp-plain.svg" alt="Gulp.js">
					<p><strong>Russian Imperial Gulp</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="thumbnail">
					<img src="/img/sass-original.svg" alt="Sass">
					<p><strong>Sass Weizen</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="thumbnail">
					<img src="/img/handlebars-stick.svg" alt="Handlebars">
					<p><strong>Handlebars Export</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-4">
				<div class="thumbnail">
					<img src="/img/nodejs-original-wordmark.svg" alt="Node.js">
					<p><strong>Node Ale</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="thumbnail">
					<img src="/img/react-original.svg" alt="React">
					<p><strong>Reactbier</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="thumbnail">
					<img src="" alt="Bootstrap">
					<p><strong>Bootstrap</strong></p>
					<button class="btn">Details</button>
				</div>
			</div>
		</div>
	</div>
</section>
