{{!-- welcome page --}}
<header>	
	<div class="video-container">
	    <div class="overlay">
	    </div>
	    <video autoplay muted loop id="myVideo">
	        <source src="/video/people-inside-bar.mp4" type="video/mp4">
	    </video>
	    <div class="title vertical-center">
	     	   <h1>Developer's Brew</h1>
	    </div>
	</div>
</header>