{{!-- welcome page --}}
<section>
	<div class="container-fluid">
		<div class="video-container">
			<div class="overlay">
			</div>
			<video autoplay muted loop id="myVideo">
	        <source src="/video/people-inside-bar.mp4" type="video/mp4">
	    </video>
			<div class="title">
				<h1>Developer's Brew</h1>
				<h3>Better beer with every batch</h3>
			</div>
		</div>
	</div>
</section>
