.profile-pic {
		display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
//	text-align: center;
	color: white;
}

.person {
    border: 10px solid;
//    margin-bottom: 25px;
//    width: 80%;
//    height: 80%;
//    opacity: 0.7;
	border-color: #f1f1f1;
}