// Global styling

body {
//  padding: 50px;
  font-size: 16px;
	font-family: 'Merriweather', serif;
}

section>div {
	height: 100vh;
	padding: 50px;
}

.bg-1 {
	background: lightgrey;
}

.bg-2 {
	background: darkgrey;
}

//.vertical-center {
//  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
//  min-height: 100vh; /* These two lines are counted as one :-)       */
////  display: flex;
//  align-items: center;
//  justify-content: center;
//}