// Typography

/*$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #222;
$font-size: 1rem;
$line-height: 1.5;*/
$font-family-logo: 'Pacifico', cursive;
$font-family-tagline: 'Oswald', sans-serif;
$font-family-body: 'Merriweather', serif;