// Typography

/*$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-size: 1rem;
$line-height: 1.5;*/
$font-family-logo: 'Pacifico', cursive;
$font-family-tagline: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
$font-family-body: 'Merriweather','Helvetica Neue',Helvetica,Arial,sans-serif;

// Color palette
$font-color-light: #DDE2E3; //frost
$nav-color-dark: #60412B; //bark
$bg-color-1: #9AACB8; //lead
$bg-color-2: #B37C57; // burnt amber
