<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <th>Name</th>
    <th>Tagline</th>
    <th>Image</th>
    </thead>
    <tbody>
    {{#each showResults}}
      <tr>
        <td>{{name}}</td>
        <td>{{tagline}}</td>
        <td><img src="{{image_url}}" class="beer" alt=""></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
